
@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <text id="aboutText">@ViewBag.Message</text>
    <br /><br />
    <text id="browserDisclaimer">** Currently WaveBucket is supported by Chrome, Firefox and Safari (in order of preference). </text>
</hgroup>

