@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
    <h4>Email the developer</h4>
    <hr />
</hgroup>

<section class="contact">
    
</section>

<section class="contact">
    <br /><br />
    <p>
        
        <span><a href="mailto:mvgent@sogyo.nl">Melvin van Gent</a></span>
    </p>

    <br />
    <br />
    <br />

    <a href="http://www.sogyo.nl"><img src="~/Images/Sogyologo.jpg" /></a>
   
</section>

