@{
    ViewBag.Title = "Home Page";
}

<br /><br />

<div class="jumbotron" align="center">
    <div class="col-md-4" align="center">
        <div class="homeButton">
            <a href="~/Session/Create">

                <input type="button" value="Start Session" class="homeButton" />

            </a>
        </div>
    </div>
</div>


<br /><br />
    
<div class="jumbotron" align="center">
    <div class="col-md-4" align="center">
        <div class="homeButton">
            <a href="~/Session/Index">

                <input type="button" value="Explore Sessions" class="homeButton" />

            </a>

        </div>
    </div>
</div>

 