@{
    ViewBag.Title = "WaveBucket";
}


<h2>@ViewBag.Title.</h2>
<h4>Communal Synthesizer</h4>
<hr />

<br /><br /> <br /> <br />

<div id="startButtons" >

    
    
        <div class="homeButton">
            <a href="~/Session/Create">

                <input type="button" value="Create Session" class="homeButton" />

                
            </a>

            &nbsp; &nbsp;  &nbsp;  &nbsp;  

            <a href="~/Session/Index">

                <input type="button" value="Explore Sessions" class="homeButton" />

            </a>
       
    </div>
</div>



 