@model Senken.Models.Session

@{
    ViewBag.Title = "ExternalLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ExternalLogin</h2>

<p> This page redirects automatically, if not you can <a href="~/Views/Session/Index">click here </a> to continue</p>